:root {
  --grey: rgba(51, 51, 51, 100%);
  --grey-90: rgba(51, 51, 51, 90%);
  --grey-75: rgba(51, 51, 51, 75%);
  --grey-65: rgba(51, 51, 51, 65%);
  --gold: #D1A954;
  --white: #FFFFFF;
  --white-50: rgba(255, 255, 255, 50%);
  --input-background: #616161;
  --text: #C4C4C4;
  --text-footer: #989898;
  
  ;
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "OpenSansCondensed-Light";
  src: url("../fonts/OpenSansCondensed-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "OpenSansCondensed-Bold";
  src: url("../fonts/OpenSansCondensed-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

body {
  background-color: var(--grey);
}

.header {
  background-image: url('../img/header__bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1400px) {
  .header {
    padding-bottom: 350px;
  }
}

@media (max-width: 758px) {
  .header {
    padding-bottom: 270px;
  }
}

@media (max-width: 576px) {
  .header {
    padding-bottom: 110px;
  }
}

.header__nav {
  justify-content: space-between;
  position: relative;
}

@media (min-width: 768px) {
  .header__nav {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

@media (min-width: 1110px) {
  .header__nav {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}

.navbar__open {
  margin: 50px 0 0 33px;
  border: none;
  border-radius: 5px;
  background-color: var(--grey-75);
  position: fixed;
  z-index: 1000;
}

.navbar__open:hover {
  cursor: pointer;
  background-color: var(--white-50);
}

@media (min-width: 768px) {
  .navbar__open {
    display: none;
  }
}

.header__tel {
  margin: 50px 33px 0 0;
  height: 30px;
  font-family: "OpenSansCondensed-Bold";
  font-size: 16px;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: var(--white);
  border-bottom: 2px solid var(--gold);
  margin-left: auto;
}

@media (min-width: 768px) {
  .header__tel {
    margin-top: 100px;
    margin-left: 0;
  }
}

@media (min-width: 1110px) {
  .header__tel {
    margin-left: 230px;
    margin-top: 50px;
  }
}

.header__tel:hover {
  color: var(--white);
}

.header__tel:visited {
  color: var(--white);
}

.navbar {
  position: absolute;
  top: 0;
  left: -300px;
  width: 300px;
  height: 800px;
  display: flex;
  background-color: var(--grey);
  transition: left 0.5s;
}

.navbar__active {
  left: 0;
  transition: left 0.5s;
}

@media (min-width: 768px) {
  .navbar {
    position: static;
    min-width: 690px;
    height: auto;
    background: none;
  }
}

.navbar__close {
  margin: 30px 30px 0 0;
  margin-left: auto;
  border: none;
  border-radius: 5px;
  background: none;
}

@media (min-width: 768px) {
  .navbar__close {
    display: none;
  }
}

.navbar__close:hover {
  cursor: pointer;
  background-color: var(--white-50);
}

.navbar__items {
  margin: 80px 0 0 40px;
  padding: 0;
  list-style-type: none;
}

@media (min-width: 768px) {
  .navbar__items {
    margin: -10px 0 0 -10px;
    padding: 20px 20px 20px 20px;
    min-width: 690px;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    position: fixed;
    background-color: var(--grey-90);
  }
}

.navbar__item_link {
  padding: 17px;
  font-family: "OpenSansCondensed-Bold";
  font-size: 18px;
  letter-spacing: 0.1em;
  color: var(--white);
  text-decoration: none;
}

.navbar__item_link:visited {
  color: var(--white);
}

@media (min-width: 768px) {
  .navbar__item {
    padding: 5px;
    font-size: 18px;
  }
}

.navbar__item_link:hover {
  cursor: pointer;
  color: var(--gold);
}

.social__links {
  margin: 90px 0 0 80px;
  width: 140px;
  height: 125px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

@media (min-width: 768px) {
  .social__links {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 1065px;
    margin: 0;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
    padding-bottom: 85px;
    background-color: var(--grey-75);
  }
}

.social__link {
  display: block;
  padding: 10px;
  width: 60px;
}

.social__link svg {
  fill: var(--white-50);
}

.social__link svg:hover {
  fill: var(--gold);
}

.social__link_fb {
  padding: 10px 0 10px 15px;
}

@media (min-width: 768px) {
  .social__link {
    margin-top: 30px;
  }
}

.social__info {
  display: none;
  position: absolute;
  top: 450px;
  left: -110px;
  transform: rotate(270deg);
  align-items: center;
  z-index: 5;
}

@media (min-width: 768px) {
  .social__info {
    display: flex;
  }
}

.social__info > p {
  margin: 0 0 0 40px;
  font-family: "OpenSansCondensed-Bold";
  font-size: 18px;
  color: var(--text);
  letter-spacing: 0.1em;
}

.line {
  width: 80px;
  border-bottom: 3px solid var(--text);
}

.header__about {
  margin-top: 115px;
}

@media (max-width: 1200px) {
  .header__about {
    overflow: hidden;
  }
}

@media (min-width: 768px) {
  .header__about {
    margin-top: 170px;
  }
}

@media (min-width: 992px) {
  .header__about {
    margin-top: 230px;
  }
}

@media (min-width: 1400px) {
  .header__about {
    margin-top: 230px;
    padding-bottom: 38px;
  }
}

.container {
  max-width: 1110px;
  padding: 0;
}

@media (max-width: 992px) {
  .container {
    padding: 0 12px 0 12px;
  }
}

.header__poster {
  margin: 0 30px 0 30px;
}

@media (min-width: 768px) {
  .header__poster {
    margin: 0 130px 0 145px;
  }
}

@media (min-width: 992px) {
  .header__poster {
    margin: 0 200px 0 190px;
  }
}

@media (min-width: 1400px) {
  .header__poster {
    margin: 0;
  }
}


.header__title {
  font-family: "OpenSansCondensed-Bold";
  font-size: 64px;
  color: var(--white);
}

@media (max-width: 360px) {
  .header__title {
    font-size: 40px;
  }
}

.header__description {
  margin-top: 50px;
  font-family: "OpenSans-Regular";
  font-size: 14px;
  line-height: 1.5;
  color: var(--white);
}

.header__btn {
  margin-top: 50px;
  padding: 20px 50px;
  border: none;
  background-color: var(--gold);
  font-family: "OpenSansCondensed-Bold";
  font-size: 18px;
  letter-spacing: 0.1em;
  color: var(--white);
  cursor: pointer;
}

.header__btn:hover {
  background-color: var(--white);
  color: var(--gold);
}

.carousel {
  max-width: 370px;
  margin-left: auto;
}

.carousel__arrow {
  position: absolute;
  bottom: -50px;
  width: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "OpenSansCondensed-Bold";
  font-size: 18px;
}

.carousel__arrow_left {
  left: 20px;
}

.carousel__arrow_right {
  right: 20px;
}

.carousel__arrow > img {
  height: 20px;
}

.description {
  padding-top: 80px;
  background-color: var(--grey);
}

.description__info {
  margin: 0 auto;
  padding: 15px;
  max-width: 510px;
}

@media (min-width: 768px) {
  .description__info {
    max-width: 420px;
    margin: 0 0 0 30px;
    padding: 0;
  }
}

.title {
  font-family: "OpenSansCondensed-Light";
  font-size: 48px;
  letter-spacing: 0.1 em;
  color: var(--white);
}

.title > span {
  color: var(--gold);
}

.description__title {
  margin-bottom: 60px;
}

@media (min-width: 992px) {
  .description__title {
    margin-bottom: 100px;
  }
}


.description__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .description__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.content__head {
  font-family: "OpenSansCondensed-Bold";
  font-size: 21px;
  letter-spacing: 0.1em;
  color: var(--white);
}

.description__head {
  margin: 60px 0 0 0;
  text-align: center;
}

@media (min-width: 768px) {
  .description__head {
    margin: 0;
    text-align: left;
  }
}

.description__text {
  margin: 40px 0 0 0;
  font-family: "OpenSans-Regular";
  font-size: 14px;
  line-height: 1.5;
  color: var(--white);
  text-align: center;
}

@media (min-width: 768px) {
  .description__text {
    text-align: left;
  }
}

@media (min-width: 768px) {
  .description__statistic {
    margin: 0;
    max-width: 220px;
  }
}

.description__statistic_head {
  text-align: center;
  margin-top: 50px;
}

@media (min-width: 768px) {
  .description__statistic_head {
    text-align: left;
    margin: 0;
    padding-right: 10px;
  }
}

.description__data {
  margin: 40px auto 0;
  max-width: 350px;
  display: flex; 
  justify-content: space-between;
}

@media (min-width: 768px) {
  .description__data {
    margin: 0;
    padding-right: 10px;
    flex-direction: column;
    max-width: 210px;
  }
}

@media (min-width: 768px) {
  .description__data_item {
    margin-top: 25px;
    margin-bottom: 0;
  }
}

.description__data_item > p {
  margin-top: 15px;
  font-family: "OpenSansCondensed-Bold";
  font-size: 16;
  letter-spacing: 0.05em;
  color: var(--white);
}

.description__data_item > p > span {
  color: var(--gold);
}

.description__img {
  padding-right: 10px;
}

@media (max-width: 1040px) {
  .description__img {
    display: none;
  }
}

.swiper {
  margin-top: 150px;
}

@media (max-width: 992px) {
  .swiper {
    margin: 90px 20px 0;
  }
}

.swiper__slide {
  width: 440px;
  position: relative;
}

@media (max-width: 992px) {
  .swiper__slide {
    width: 300px;
  }
}

@media (max-width: 420px) {
  .swiper__slide {
    width: 200px;
  }
}

.swiper__slide:nth-child(1) {
  margin-left: 150px;
}

@media (max-width: 992px) {
  .swiper__slide:nth-child(1) {
    margin-left: 0;
  }
}

.swiper__slide:nth-child(8) {
  margin-right: 150px;
}

@media (max-width: 992px) {
  .swiper__slide:nth-child(8) {
    margin-right: 0;
  }
}

.swiper__shadow {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--grey-65);
}

.swiper__head {
  font-family: "OpenSansCondensed-Bold";
  font-size: 24px;
  color: var(--white);
  position: absolute;
  top: 40px;
  left: 40px;
}

.swiper__data {
  font-family: "OpenSansCondensed-Bold";
  font-size: 18px;
  color: var(--white);
  position: absolute;
  bottom: 80px;
  left: 0;
  transform: rotate(270deg);
}

.swiper__icon {
  position: absolute;
  left: 170px;
  top: 50%;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: var(--gold);
  padding-top: 35px;
  cursor: pointer;
}

.swiper__hidden {
  display: none;
}

.rating {
  margin-top: 150px;
}

@media (max-width: 768px) {
  .rating {
    margin-top: 90px;
  }
}

.rating__box {
  max-width: 1100px;
  height: 550px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url('../img/rating__bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 576px) {
  .rating__box {
    height: auto;
    flex-direction: column;
    padding: 25px;
  }
}

.rating__year p {
  margin-right: 20px;
  font-family: "OpenSansCondensed-Bold";
  font-size: 72px;
  letter-spacing: 0.1px;
  color: var(--gold);
}

.rating__star img {
  margin-right: 25px;
}

@media (max-width: 576px) {
  .rating__star img {
    margin-right: 10px;
  }
}

.rating__text {
  max-width: 540px;
  margin-top: 25px;
  font-family: "OpenSans-Bold";
  font-size: 36px;
  line-height: 1.5em;
  color: var(--white);
}

.partners {
  margin-top: 150px;
  padding: 20px;
}

@media (max-width: 768px) {
  .partners {
    margin-top: 90px;
  }
}

.swiper__partners {
  max-width: 1040px;
  margin: 100px auto 0;
}

@media (max-width: 768px) {
  .swiper__partners {
    margin-top: 60px;
  }
}

.swiper__partners_item {
  max-width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.swiper__partners_item img {
  max-width: 200px;
}

.investors {
  margin-top: 150px;
}

@media (max-width: 768px) {
  .investors {
    margin-top: 90px;
  }
}

.investors__box {
  max-width: 1110px;
  margin: 100px auto 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .investors__box {
    margin-top: 60px;
    max-width: 730px;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .investors__box {
    margin-top: 60px;
  }
}


.contacts {
  min-width: 280px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 992px) {
  .contacts {
    order: 1;
    margin-top: 80px;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (max-width: 576px) {
  .contacts {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.contacts__tel {
  display: flex;
  flex-direction: column;
}

.contacts__adress {
  display: flex;
  flex-direction: column;
}

.contacts_item {
  margin-bottom: 25px;
  font-family: "OpenSansCondensed-Bold";
  font-size: 16px;
  letter-spacing: 0.05em;
  color: var(--white);
  text-decoration: none;
}

.contacts_item:visited {
  color: var(--white);
}

.contacts_item:hover {
  color: var(--gold);
}

.forms {
  max-width: 730px;
  width: 100%;
}

.forms__input {
  max-width: 730px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .forms__input {
    flex-direction: column;
    height: 260px;
  }
}

@media (max-width: 510px) {
  .forms__input {
    height: 400px;
  }
}

.forms__input_data {
  max-width: 390px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .forms__input_data {
    max-width: 710px;
    width: 100%;
  }
}

@media (max-width: 490px) {
  .forms__input_data {
    flex-direction: column;
  }
}

.forms__input_item {
  max-height: 35px;
  margin-bottom: 30px;
  max-width: 180px;
  padding: 10px 15px;
  font-family: "OpenSans-SemiBold";
  font-size: 12px;
  line-height: 1.5em;
  color: var(--text-footer);
  background-color: #444444;
  box-shadow: none;
  border: 1px solid var(--input-background);
}

@media (max-width: 768px) {
  .forms__input_item {
    max-width: 240px;
    width: 100%;
    margin: 0 auto 30px;
  }
}

.forms__input_item:focus {
  outline: 1px solid var(--gold);
}

.forms__input_message textarea {
  max-width: 300px;
  width: 100%;
  height: 110px;
  padding: 10px 15px;
  font-family: "OpenSans-SemiBold";
  font-size: 12px;
  line-height: 1.5em;
  color: var(--text-footer);
  background-color: #444444;
  box-shadow: none;
  border: 1px solid var(--input-background);
  resize: none;
}

@media (max-width: 768px) {
  .forms__input_message textarea {
    max-width: 100%;
    width: 100%;
  }
}

.forms__input_message textarea:focus {
  outline: 1px solid var(--gold);
}

.forms__submit {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .forms__submit {
    flex-direction: column-reverse;
  }
}

.forms__submit_text {
  max-width: 390px;
  font-family: "OpenSans-Regular";
  font-size: 12px;
  line-height: 1.5;
  color: var(--text-footer);
}

.forms__submit_btn {
  padding: 17px 50px;
  border: none;
  background-color: var(--gold);
  color: var(--white);
  font-family: "OpenSansCondensed-Bold";
  font-size: 18px;
  letter-spacing: 0.1em;
}

@media (max-width: 768px) {
  .forms__submit_btn {
    margin-bottom: 30px;
  }
}

.forms__submit_btn:hover {
  background-color: var(--white);
  color: var(--gold);
}

.footer__box {
  padding: 20px;
  max-width: 1110px;
  width: 100%;
  min-height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #565656;
}

@media (max-width: 450px) {
  .footer__box {
    flex-direction: column;
    align-items: center;
  }
}

.footer__box p {
  font-family: "OpenSans-Regular";
  font-size: 12px;
  line-height: 1.5em;
  color: var(--text-footer);
}