:root {
  --grey: rgba(51, 51, 51, 100%);
  --grey-90: rgba(51, 51, 51, 90%);
  --grey-75: rgba(51, 51, 51, 75%);
  --grey-65: rgba(51, 51, 51, 65%);
  --gold: #D1A954;
  --white: #FFFFFF;
  --white-50: rgba(255, 255, 255, 50%);
  --input-background: #616161;
  --text: #C4C4C4;
  --text-footer: #989898;

}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "OpenSansCondensed-Light";
  src: url("../fonts/OpenSansCondensed-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "OpenSansCondensed-Bold";
  src: url("../fonts/OpenSansCondensed-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

body {
  background-color: var(--grey);
}

.container__box {
  max-width: 1130px;
  width: 100%;
  padding: 0 10;
  margin: 0 auto;
  position: relative;
}

.header {
  background-image: url('../img/header__bg.png');
  background-repeat: no-repeat;
  background-position: 0px -208px;
  background-size: cover;
  position: relative;
  min-height: 1045px;
}

@media (max-width: 992px) {
  .header {
    background-position: center;
    min-height: 1040px;
  }
}

@media (max-width: 768px) {
  .header {
    min-height: 800px;
  }
}

.navbar__open {
  display: none;
}

.navbar__open:hover {
  border: 1px solid var(--gold);
}

@media (max-width: 768px) {
  .navbar__open {
    display: block;
    position: absolute;
    left: 39px;
    top: 50px;
    border: none;
    background: none;
  }
}

.navbar__close {
  display: none;
  border: none;
  background: none;
}

@media (max-width: 768px) {
  .navbar__close {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 60px;
  }
}

.navbar {
  position: relative;
  display: flex;
}

@media (max-width: 768px) {
  .navbar {
    position: absolute;
    width: 300px;
    height: 800px;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    left: -300px;
    top: 0;
    background-color: var(--grey);
    z-index: 100;
    transition: left ease-in-out 1s;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
}

.navbar__items {
  padding: 55px 0 0 10px;
  position: fixed;
  list-style: none;
  display: flex;
  justify-content: space-between;
  max-width: 835px;
  width: 100%;
  z-index: 100;
}

@media (max-width: 1240px) {
  .navbar__items {
    padding: 0;
    top: 50px;
    left: 0;
    right: 0;
    min-width: 100%;
    justify-content: space-around;
  }
}

@media (max-width: 992px) {
  .navbar__items {
    left: 160px;
    max-width: 750px;
    min-width: auto;
  }
}

@media (max-width: 905px) {
  .navbar__items {
    left: 0;
    max-width: 100%;
    min-width: 100%;
  }
}

@media (max-width: 830px) {
  .navbar__items {
    left: 140px;
  }
}

@media (max-width: 768px) {
  .navbar__items {
    position: static;
    flex-direction: column;
    justify-content: start;
    margin-top: 78px;
    margin-left: 39px;
  }
}

.navbar__item_link {
  display: block;
  font-family: "OpenSansCondensed-Bold";
  font-size: 18px;
  letter-spacing: 0.1em;
  color: var(--white);
  text-decoration: none;
}

@media (max-width: 768px) {
  .navbar__item_link {
    font-size: 24px;
    margin-top: 35px;
  }
}

.navbar__item_link:visited {
  color: var(--white);
}

.navbar__item_link:hover {
  cursor: pointer;
  color: var(--gold);
}

.header__tel_md {
  display: none;
}

.header__tel {
  margin-left: auto;
  margin-right: 5px;
  margin-top: 45px;
  font-family: "OpenSansCondensed-Bold";
  font-size: 16px;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: var(--white);
  border-bottom: 2px solid var(--gold);
}

@media (max-width: 1240px) {
  .header__tel {
    margin: 120px auto 0;
  }
}

@media (max-width: 768px) {
  .header__tel_nav {
    display: none;
  }

  .header__tel_md {
    display: block;
  }

  .header__tel {
    position: absolute;
    top: 56px;
    right: 39px;
    margin: 0;
  }
}

.header__tel:hover {
  color: var(--white);
}

.header__tel:visited {
  color: var(--white);
}

.social__info {
  position: fixed;
  top: 0;
  left: 0;
  width: 150px;
  height: 1040px;
  padding-bottom: 10px;
  background-color: var(--grey-75);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  z-index: 5;
}

@media (max-width: 768px) {
  .social__info {
    position: absolute;
  }
}

.line {
  margin-bottom: 65px;
  width: 80px;
  border-bottom: 3px solid var(--text);
  transform: rotate(270deg);
}

@media (max-width: 768px) {
  .social__info {
    display: none;
  }
}

.social__info p {
  width: 400px;
  margin-bottom: 265px;
  transform: rotate(270deg);
  font-family: "OpenSansCondensed-Bold";
  font-size: 18px;
  color: var(--text);
  letter-spacing: 0.1em;
}


.social__links {
  height: 174px;
  margin-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}

.social__link {
  display: block;
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 60px;
}

.social__link svg {
  fill: var(--white-50);
}

@media (max-width: 768px) {
  .social__link {
    display: block;
    padding: 0;
    margin-left: 0;
    margin-bottom: 0;
  }

  .social__link svg {
    fill: var(--white);
    height: 45px;
    width: 45px;
  }
}

.social__link svg:hover {
  fill: var(--gold);
}

.social__link_fb {
  padding: 10px 0 0 15px;
}

@media (max-width: 768px) {
  .social__link_fb {
    padding: 0 0 0 0;
  }
}

.social__links_nav {
  display: none;
}

@media (max-width: 768px) {
  .social__links_nav {
    margin-top: 65px;
    display: block;
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
  }

  .social__links_nav svg {
    margin: 10px;
  }
}

.header__about {
  margin-top: 185px;
}

@media (max-width: 768px) {
  .header__about {
    margin: 0 33px 0 33px;
    padding-top: 250px;
  }
}

.header__about_wrapper {
  max-width: 1045px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__poster {
  padding: 0 10px;
}

@media (max-width: 1430px) {
  .header__poster {
    padding-left: 100px;
  }
}

@media (max-width: 1240px) {
  .header__poster {
    padding-left: 155px;
  }
}

@media (max-width: 992px) {
  .header__poster {
    padding-left: 191px;
  }
}

@media (max-width: 768px) {
  .header__poster {
    padding: 0;
  }
}

.header__title {
  margin-top: 40px;
  font-family: "OpenSansCondensed-Bold";
  letter-spacing: 0.1em;
  font-size: 64px;
  color: var(--white);
}

@media (max-width: 768px) {
  .header__title {
    letter-spacing: 0.05em;
  }
}

@media (max-width: 576px) {
  .header__title {
    font-size: 48px;
  }
}

.header__description {
  max-width: 540px;
  margin-top: 35px;
  font-family: "OpenSans-Regular";
  font-size: 14px;
  line-height: 1.5;
  color: var(--white);
}

.header__btn {
  margin-top: 25px;
  padding: 10px 47px;
  border: none;
  background-color: var(--gold);
  font-family: "OpenSansCondensed-Bold";
  font-size: 18px;
  letter-spacing: 0.1em;
  color: var(--white);
  cursor: pointer;
}

@media (max-width: 992px) {
  .header__btn {
    padding: 15px 47px;
  }
}

.header__btn:hover {
  background-color: var(--white);
  color: var(--gold);
}

.carousel__box {
  min-width: 370px;
  max-width: 370px;
  margin-top: 20px;
  padding-right: 10px;
}

@media (max-width: 992px) {
  .carousel__box {
    display: none;
  }
}

.carousel__arrow {
  position: absolute;
  bottom: -62px;
  width: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "OpenSansCondensed-Bold";
  font-size: 18px;
  letter-spacing: 0.1em;
}

.carousel__arrow_left {
  left: 0px;
}

.carousel__arrow_right {
  right: 0px;
}

.carousel__arrow>img {
  height: 15px;
  width: 45px;
}

.nav__show {
  left: 0px;
  transition: left ease-in-out 1s;
}

.title {
  font-family: "OpenSansCondensed-Light";
  font-size: 48px;
  letter-spacing: 0.1em;
  color: var(--white);
}

.title>span {
  color: var(--gold);
}

.description {
  margin-top: 150px;
}

.description__title {
  margin-bottom: 110px;
  margin-left: 20px;
}

@media (max-width: 768px) {
  .description__title {
    margin-bottom: 60px;
  }
}


.description__box {
  display: flex;
  justify-content: space-between;
  max-width: 1110px;
  margin: 0 auto;
}

@media (max-width: 576px) {
  .description__box {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1415px) {
  .description__info {
    margin-left: 50px;
  }
}

@media (max-width: 1310px) {
  .description__info {
    margin-left: 100px;
  }
}

@media (max-width: 1215px) {
  .description__info {
    margin-left: 155px;
  }
}

@media (max-width: 768px) {
  .description__info {
    margin: 0 0 0 15px;
  }
}

.content__head {
  font-family: "OpenSansCondensed-Bold";
  font-size: 21px;
  letter-spacing: 0.1em;
  color: var(--white);
}

.description__head {
  margin-left: 10px;
}

@media (max-width: 576px) {
  .description__head {
    margin: 0 auto;
    text-align: center;
  }
}

.description__text {
  max-width: 445px;
  margin: 35px 10px 0 5px;
  font-family: "OpenSans-Regular";
  font-size: 14px;
  line-height: 1.5;
  color: var(--white);
}

@media (max-width: 576px) {
  .description__text {
    margin: 40px auto 0;
    padding: 15px;
    text-align: center;
  }
}

.description__statistic {
  max-width: 225px;
  width: 100%;
}

@media (max-width: 576px) {
  .description__statistic {
    max-width: 100%;
    padding: 15px;
  }
}

@media (max-width: 576px) {
  .description__statistic_head {
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
  }
}


.description__data {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}

@media (max-width: 576px) {
  .description__data {
    flex-direction: row;
    justify-content: space-between;
    max-width: 354px;
    margin: 0 auto;
  }
}

.description__data_item {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.description__data_item>img {
  width: 70px;
}

.description__data_item>p {
  margin-top: 15px;
  font-family: "OpenSansCondensed-Bold";
  font-size: 16;
  letter-spacing: 0.05em;
  color: var(--white);
}

.description__data_item>p>span {
  color: var(--gold);
}

.description__img img {
  width: 360px;
  margin-right: 15px;
}

@media (max-width: 1050px) {
  .description__img img {
    width: 250px;
  }
}

@media (max-width: 992px) {
  .description__img {
    display: none;
  }
}

.swiper {
  margin-top: 150px;
}

@media (max-width: 992px) {
  .swiper {
    margin: 90px 20px 0;
  }
}

@media (max-width: 768px) {
  .swiper {
    margin: 90px 20px 0;
  }
}

.swiper__slide {
  max-width: 440px;
  position: relative;
}

@media (max-width: 992px) {
  .swiper__slide {
    max-width: 300px;
  }

  .swiper__slide img {
    width: 300px;
    height: 373px;
  }
}

@media (max-width: 420px) {
  .swiper__slide {
    max-width: 200px;
  }

  .swiper__slide img {
    width: 200px;
    height: 249px;
  }
}

.swiper__slide:nth-child(1) {
  margin-left: 150px;
}

@media (max-width: 992px) {
  .swiper__slide:nth-child(1) {
    margin-left: 0;
  }
}

.swiper__slide:nth-child(8) {
  margin-right: 150px;
}

@media (max-width: 992px) {
  .swiper__slide:nth-child(8) {
    margin-right: 0;
  }
}

.swiper__shadow {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--grey-65);
}

.swiper__head {
  font-family: "OpenSansCondensed-Bold";
  font-size: 24px;
  color: var(--white);
  position: absolute;
  top: 40px;
  left: 40px;
}

.swiper__data {
  font-family: "OpenSansCondensed-Bold";
  font-size: 18px;
  color: var(--white);
  position: absolute;
  bottom: 80px;
  left: 0;
  transform: rotate(270deg);
}

.swiper__icon {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper__icon img {
  display: block;
  border-radius: 100%;
  background-color: var(--gold);
  cursor: pointer;
  padding: 30px;
}

@media (max-width: 992px) {
  .swiper__icon img {
    width: 50px;
    height: 50px;
    padding: 10px;
  }
}

.swiper__hidden {
  display: none;
}

.rating__box {
  max-width: 1100px;
  margin: 150px auto 0;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url('../img/rating__bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 1415px) {
  .rating__box {
    margin-left: 150px;
  }
}

@media (max-width: 1215px) {
  .rating__box {
    margin-left: 155px;
  }
}

@media (max-width: 768px) {
  .rating__box {
    margin: 80px auto 0;
  }
}

.rating__year p {
  margin-right: 20px;
  font-family: "OpenSansCondensed-Bold";
  font-size: 72px;
  letter-spacing: 0.1em;
  color: var(--gold);
}

@media (max-width: 1000px) {
  .rating__year p {
    font-size: 60px;
  }
}

@media (max-width: 768px) {
  .rating__year p {
    font-size: 40px;
  }
}

.rating__star img {
  margin-right: 25px;
}

@media (max-width: 576px) {
  .rating__star img {
    margin: 0;
  }
}

.rating__text {
  max-width: 540px;
  margin-top: 25px;
  font-family: "OpenSans-Bold";
  font-size: 36px;
  line-height: 1.5em;
  color: var(--white);
}

@media (max-width: 768px) {
  .rating__text p {
    font-size: 18px;
  }
}

.partners {
  margin-top: 150px;
  padding: 20px;
}

@media (max-width: 1415px) {
  .partners {
    margin-left: 150px;
  }
}

@media (max-width: 1215px) {
  .partners {
    margin-left: 155px;
  }
}

@media (max-width: 768px) {
  .partners {
    margin: 80px auto 0;
  }
}

.swiper__partners {
  max-width: 1040px;
  margin: 100px auto 0;
}

@media (max-width: 768px) {
  .swiper__partners {
    margin-top: 60px;
  }
}

.swiper__partners_item {
  max-width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.swiper__partners_item img {
  max-width: 200px;
}

.investors {
  margin-top: 150px;
}

@media (max-width: 1415px) {
  .investors {
    margin-left: 150px;
  }
}

@media (max-width: 1215px) {
  .investors {
    margin-left: 155px;
  }
}

@media (max-width: 768px) {
  .investors {
    margin: 80px auto 0;
  }
}

.investors__box {
  max-width: 1110px;
  margin: 100px auto 0;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1140px) {
  .investors__box {
    margin-top: 60px;
    flex-direction: column-reverse;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .investors__box {
    margin-top: 60px;
  }
}

.contacts {
  min-width: 280px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1140px) {
  .contacts {
    width: 100%;
    margin-top: 80px;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (max-width: 576px) {
  .contacts {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.contacts__tel {
  display: flex;
  flex-direction: column;
}

.contacts__adress {
  display: flex;
  flex-direction: column;
}

.contacts_item {
  margin-bottom: 25px;
  font-family: "OpenSansCondensed-Bold";
  font-size: 16px;
  letter-spacing: 0.05em;
  color: var(--white);
  text-decoration: none;
}

.contacts_item:visited {
  color: var(--white);
}

.contacts_item:hover {
  color: var(--gold);
}

.forms {
  width: 100%;
}

.forms__input {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 576px) {
  .forms__input {
    flex-direction: column;
  }
}

.forms__input_data {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .forms__input_data {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .forms__input_data {
    justify-content: space-between;
  }
}

.forms__input_item {
  max-height: 35px;
  margin-bottom: 30px;
  margin-right: 10px;
  max-width: 170px;
  padding: 10px 15px;
  font-family: "OpenSans-SemiBold";
  font-size: 12px;
  line-height: 1.5em;
  color: var(--text-footer);
  background-color: #444444;
  box-shadow: none;
  border: 1px solid var(--input-background);
}

@media (max-width: 845px) {
  .forms__input_item {
    max-width: 45%;
  }
}

@media (max-width: 576px) {
  .forms__input_item {
    margin: 0 0 30px 0;
  }
}


.forms__input_item:focus {
  outline: 1px solid var(--gold);
}

.forms__input_message {
  width: 80%;
}

@media (max-width: 576px) {
  .forms__input_message {
    width: 100%;
  }
}

.forms__input_message textarea {
  width: 100%;
  height: 100px;
  padding-left: 15px;
  font-family: "OpenSans-SemiBold";
  font-size: 12px;
  line-height: 1.5em;
  color: var(--text-footer);
  background-color: #444444;
  box-shadow: none;
  border: 1px solid var(--input-background);
  resize: none;
}

.forms__input_message textarea:focus {
  outline: 1px solid var(--gold);
}

.forms__submit {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 576px) {
  .forms__submit {
    flex-direction: column-reverse;
  }
}

.forms__submit_text {
  max-width: 390px;
  font-family: "OpenSans-Regular";
  font-size: 12px;
  line-height: 1.5;
  color: var(--text-footer);
}

.forms__submit_btn {
  padding: 17px 50px;
  border: none;
  background-color: var(--gold);
  color: var(--white);
  font-family: "OpenSansCondensed-Bold";
  font-size: 18px;
  letter-spacing: 0.1em;
}

@media (max-width: 768px) {
  .forms__submit_btn {
    margin-bottom: 30px;
  }
}

.forms__submit_btn:hover {
  background-color: var(--white);
  color: var(--gold);
}

.footer__box {
  padding: 20px;
  max-width: 1110px;
  min-height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #565656;
}

@media (max-width: 1415px) {
  .footer__box {
    margin-left: 150px;
  }
}

@media (max-width: 1215px) {
  .footer__box {
    margin-left: 155px;
  }
}

@media (max-width: 768px) {
  .footer__box {
    margin: 0 auto;
  }
}

@media (max-width: 450px) {
  .footer__box {
    flex-direction: column;
    align-items: center;
  }
}

.footer__box p {
  font-family: "OpenSans-Regular";
  font-size: 12px;
  line-height: 1.5em;
  color: var(--text-footer);
}

.hide {
  display: none;
}

.nav__background {
  background-color: var(--grey-75);
}

.scroll__block {
  overflow: hidden;
}